@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar lembut */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.3);
    border-radius: 10px;
}
